:root {
  --link-border: light-dark(var(--platinum), var(--oxford-blue));
  --link-background: light-dark(var(--white-smoke), var(--yinmn-blue));
  --link-hover: light-dark(var(--cararra), var(--indigo-dye));
  --link-active: light-dark(var(--platinum), var(--oxford-blue));
}

.link {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-style: solid;
  border-color: var(--link-border);
  border-radius: 0.5rem;
  background-color: var(--link-background);
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}

.link a {
  margin: 0 0.5rem 0 0;
  color: var(--text);
  text-decoration: none;
}

.link p {
  margin: 0;
  font-size: 0.6rem;
  font-weight: normal;
  color: var(--text);
  overflow: hidden;
}

.link:hover {
  background-color: var(--link-hover);
}

.link:active {
  background-color: var(--link-active);
}
