button {
  width: 100%;
  height: fit-content;
  border-color: light-dark(var(--oxford-blue), var(--platinum));
  border-radius: 0.5rem;
  background-color: light-dark(var(--white-smoke), var(--yinmn-blue));
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 0.5rem;
}

button:hover {
  background-color: light-dark(var(--cararra), var(--indigo-dye));
}

button:active {
  background-color: light-dark(var(--platinum), var(--oxford-blue));
}
