.link {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-style: solid;
  border-color: var(--asset-border);
  border-radius: 0.5rem;
  background-color: var(--asset-background);
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}

a {
  color: var(--text);
  text-decoration: none;
}

b {
  margin: 0 0.5rem 0 0;
}

p {
  margin: 0;
  font-size: 0.6rem;
  font-weight: normal;
  color: var(--text);
  overflow: hidden;
}

.link:hover {
  background-color: var(--asset-hover);
}

.link:active {
  background-color: var(--asset-active);
}
