/* 
Order for CSS Elements:
1. Display (display, display styling, opacity, visibility, z-index)
2. Positioning (position, top, bottom, left, right, float)
3. Size (width, height, min/max width/height, padding, margin, box-sizing,)
4. Border (border, border-radius, outline, resize)
5. Background (background, box-shadow)
6. Text (font-family, font-size, color, text-decoration, line-height, white-space, text-align)
7. Transforms and Transitions (transform, transition, align, justify)
8. Else
*/

/* 
Order for CSS Documentation
1. Main HTML/Semantic (Section) Elements
2. General HTML Objects
3. Classes
4. ID
5. Selectors
*/

:root {
  font-family: Verdana, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom Colours */
  --rich-black: #0D1B2A;
  --oxford-blue: #1B263B;
  --yinmn-blue: #415A77;
  --silver-late-blue: #778DA9;
  --platinum: #E0E1DD;
  --white-smoke: #F2F3F1;
  --seasalt: #FAF9F9;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 400px;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  margin: 1rem 0 0 1rem;
  align-items: center;
}

main {
  padding: 0 1rem;
}

header img {
  width: 2rem;
  height: 2rem;
}

header h1 {
  margin: 0 0.5rem;
}

nav {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 0.2rem 0;
  border-style: solid none none none;
  justify-content: space-evenly;
}

nav figure {
  margin: 0;
  font-size: 0.5rem;
}

nav img {
  width: 2rem;
  height: auto;
  padding: 0.1rem;
  border-radius: 0.5rem;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--oxford-blue);
    background-color: var(--seasalt);
  }
  nav {
    border-color: var(--yinmn-blue);
  }
  nav img:hover {
    background-color: var(--platinum);
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--seasalt);
    background-color: var(--oxford-blue);
  }
  nav {
    border-color: var(--silver-late-blue);
  }
  nav img:hover {
    background-color: var(--yinmn-blue);
  }
}
