/* 
Order for CSS Elements:
1. Display (display, display styling, opacity, visibility, z-index)
2. Positioning (position, top, bottom, left, right, float)
3. Size (width, height, min/max width/height, padding, margin, box-sizing,)
4. Border (border, border-radius, outline, resize)
5. Background (background, box-shadow)
6. Text (font-family, font-size, color, text-decoration, line-height, white-space, text-align)
7. Transforms and Transitions (transform, transition, align, justify)
8. Else
*/

:root {
  font-family: Verdana, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colour Scheme */
  color-scheme: light dark;

  /* Custom Colours */
  --rich-black: #0D1B2A;
  --oxford-blue: #1B263B;
  --prussian-blue: #25334A;
  --indigo-dye: #324565;
  --yinmn-blue: #415A77;
  --silver-late-blue: #778DA9;
  --platinum: #E0E1DD;
  --cararra: #E9EAE7;
  --white-smoke: #F2F3F1;
  --seasalt: #FAF9F9;

  /* Light/Dark Mode Colours */
  --text: light-dark(var(--oxford-blue), var(--seasalt));
  --background: light-dark(var(--seasalt), var(--prussian-blue));
  --border: light-dark(var(--yinmn-blue), var(--silver-late-blue));
  --hover: light-dark(var(--white-smoke), var(--yinmn-blue));
  --active: light-dark(var(--white-smoke), var(--yinmn-blue));

  /* Global Asset Colours */
  --asset-border: light-dark(var(--platinum), var(--oxford-blue));
  --asset-background: light-dark(var(--white-smoke), var(--yinmn-blue));
  --asset-hover: light-dark(var(--cararra), var(--indigo-dye));
  --asset-active: light-dark(var(--platinum), var(--oxford-blue));

  color: var(--text);
  background-color: var(--background);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  width: 320px;
  height: 400px;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  margin: 1rem;
  align-items: center;
}

header img {
  width: 2rem;
  height: 2rem;
}

header h1 {
  margin: 0 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  padding: 0 1rem;
}

nav {
  display: flex;
  padding: 0 0 0.2rem 0;
  border-style: solid none none none;
  border-color: var(--border);
  justify-content: space-evenly;
}

nav figure {
  margin: 0;
  font-size: 0.5rem;
  text-align: center;
}

nav img {
  width: 2rem;
  height: auto;
  padding: 0.1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

nav label:hover picture:hover img:hover {
  border-color: var(--border);
  background-color: var(--hover);
}

input[name=tab]:checked + label picture img {
  border-color: var(--border);
  background-color: var(--active);
}

input[name=tab] {
  display: none;
}

input[name=tab] + label picture img {
  border-style: none solid solid solid;
  border-color: transparent;
}

.prompt {
  margin: 0 0 0.5rem 0;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.asset-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.asset {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-style: solid;
  border-color: var(--asset-border);
  border-radius: 0.5rem;
  background-color: var(--asset-background);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.asset:hover {
  background-color: var(--asset-hover);
}

.asset:active {
  background-color: var(--asset-active);
}
